@import url("NovelNodeBase.uss");

.ge-node {
    min-width: 190px;
    background-color: #25151d;
    border-left-color: #93465a;
    border-right-color: #93465a;
    border-top-color: #93465a;
    border-bottom-color: #93465a;
    --minimap-color: #fb7185;
}

.ge-node #title-container {
    background-color: #3b1c29;
    border-bottom-color: #9f4b61;
}

.ge-node:checked {
    border-left-color: #fda4af;
    border-right-color: #fda4af;
    border-top-color: #fda4af;
    border-bottom-color: #fda4af;
}
