@import url("NovelNodeBase.uss");

.ge-node {
    min-width: 190px;
    background-color: #0d2722;
    border-left-color: #2a7d67;
    border-right-color: #2a7d67;
    border-bottom-color: #21624f;
    border-top-color: #34d399;
    --minimap-color: #34d399;
}

.ge-node #title-container {
    background-color: #103a31;
    border-bottom-color: #2a7d67;
}

.ge-node #title-container #subtitle {
    color: #6fe0b9;
}

.ge-node:checked {
    border-left-color: #6fe0b9;
    border-right-color: #6fe0b9;
    border-bottom-color: #6fe0b9;
}

.ge-node .ge-port {
    --port-color: #34d399;
}
